@import "common.scss";
@import "_minix.scss";
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    overflow: hidden;
}

header {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include justify;
    @include align;
    background: rebeccapurple;
}

section {
    @include flex;
    width: 100%;
    background: #f5f5f5;
}

footer {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include justify;
    @include align;
    background: bisque;
}